In [1]:
# Create a variable age and assign it the value 25 . Then print the value of
# age along with its data type using the type() function.

In [2]:
age = 25
print("Value of age:", age)
print("Data type of age:", type(age))

Value of age: 25
Data type of age: <class 'int'>

In [3]:
# Assign the number 12.5 to a variable price . Print both the variable and its
# data type. Then assign the value 12 to the same variable and print its data
# type again. What do you observe?

In [4]:
price = 12.5
print("Value of price:", price)
print("Data type of price:", type(price))

price = 12
print("New value of price:", price)
print("New data type of price:", type(price))

Value of price: 12.5
Data type of price: <class 'float'>
New value of price: 12
New data type of price: <class 'int'>

In [5]:
# Create a variable is_raining and set it to True . Print the value of the variable
# along with its type. Then set is_raining to False and print the new value and
# type.

In [6]:
is_raining = True
print("Value of is_raining:", is_raining)
print("Data type of is_raining:", type(is_raining))

is_raining = False
print("New value of is_raining:", is_raining)
print("New data type of is_raining:", type(is_raining))

Value of is_raining: True
Data type of is_raining: <class 'bool'>
New value of is_raining: False
New data type of is_raining: <class 'bool'>

In [8]:
# Create a variable my_name and store your full name in it as a string. Then
# print the value of my_name using single quotes ' .

In [9]:
my_name = "Vaishnavi Gunjal"
print('My name is:', my_name)

My name is: Vaishnavi Gunjal

In [10]:
# Write a Python program that asks the user for their name and age using the
# input() function. Store the inputs in variables and print a sentence like
# "Hello, [Name]! You are [Age] years old." Ensure you cast the age to an
# integer.

In [11]:
# Ask for user input
name = input("Enter your name: ")
age = int(input("Enter your age: "))  # Cast age to integer

# Print the output message
print(f"Hello, {name}! You are {age} years old.")

Enter your name:  vaishh
Enter your age:  22

Hello, vaishh! You are 22 years old.

In [12]:
# Create two variables x and y and assign them the values 10 and 3.5 ,
# respectively. Print their values and types. Then, create a new variable
# sum_xy and store the sum of x and y . Print the result and its type.

In [13]:
# Assign values
x = 10
y = 3.5

# Print values and their types
print("x =", x, "Type of x:", type(x))
print("y =", y, "Type of y:", type(y))

# Calculate sum
sum_xy = x + y

# Print result and its type
print("sum_xy =", sum_xy, "Type of sum_xy:", type(sum_xy))

x = 10 Type of x: <class 'int'>
y = 3.5 Type of y: <class 'float'>
sum_xy = 13.5 Type of sum_xy: <class 'float'>

In [15]:
# Using the type() function, check and print the data type of the following:
# 45.0
# "hello"
# None
# False

In [16]:
print("Type of 45.0:", type(45.0))
print("Type of 'hello':", type("hello"))
print("Type of None:", type(None))
print("Type of False:", type(False))

Type of 45.0: <class 'float'>
Type of 'hello': <class 'str'>
Type of None: <class 'NoneType'>
Type of False: <class 'bool'>

In [17]:
# Write a Python program to print three strings "apple" , "banana" , and "cherry"
# on the same line, separated by a space. Then modify the program to
# separate the strings using a comma , instead of a space.

In [19]:
print("apple", "banana", "cherry")
print("apple", "banana", "cherry", sep=", ")

apple banana cherry
apple, banana, cherry

In [21]:
# Create a variable big_number and assign it a very large integer value (e.g.,
# 987654321987654321 ). Print the value and its type. What do you notice about
# the size of the number?

In [20]:
big_number = 987654321987654321
print("Value:", big_number)
print("Type:", type(big_number))

Value: 987654321987654321
Type: <class 'int'>

In [22]:
# Write a Python program that prints the result of multiplying two floats (e.g.,
# 2.5 and 3.7 ). Then check and print the data type of the result.

In [23]:
# Define the float values
num1 = 2.5
num2 = 3.7

# Multiply the two floats
result = num1 * num2

# Print the result and its type
print("Result:", result)
print("Type of result:", type(result))

Result: 9.25
Type of result: <class 'float'>