In [1]:
# Create a list years_list that includes the year of your birth and the next five years (total 6
# years).

In [2]:
birth_year = 2003 
years_list = []

i = 0
while i < 6:
    years_list.append(birth_year + i)
    i += 1

print(years_list)

[2003, 2004, 2005, 2006, 2007, 2008]

In [3]:
# Print the year in years_list when you were 3 years old.
# Hint: Remember, your 0th year is the first item.

In [4]:
birth_year = 2003 
years_list = []

i = 0
while i < 6:
    years_list.append(birth_year + i)
    i += 1

print(years_list[3])

2006

In [5]:
# Which year in years_list represents the most recent (your oldest age)?

In [7]:
birth_year = 2003
years_list = list(range(birth_year, birth_year + 6))

print(years_list[-1])

2008

In [8]:
# Create a list called things with the following items:
# ["mozzarella", "cinderella", "salmonella"]

In [9]:
things = ["mozzarella", "cinderella", "salmonella"]

In [10]:
things

['mozzarella', 'cinderella', 'salmonella']

In [11]:
# Capitalize the item that refers to a person in the things list.
# Print the list. Did the original list change?

In [12]:
things = ["mozzarella", "cinderella", "salmonella"]


things[1] = things[1].capitalize()

print(things)

['mozzarella', 'Cinderella', 'salmonella']

In [13]:
# Create a list called surprise_list with these values:
# ["Groucho", "Chico", "Harpo"]

In [14]:
surprise_list = ["Groucho", "Chico", "Harpo"]

In [15]:
surprise_list

['Groucho', 'Chico', 'Harpo']

In [16]:
# Take the last item in surprise_list:

# • Lowercase it
# • Reverse it
# • Capitalize the result
# Then print it.

In [17]:
surprise_list = ["Groucho", "Chico", "Harpo"]

last_item = surprise_list[-1]          
lowercased = last_item.lower()         
reversed_str = lowercased[::-1]        
capitalized = reversed_str.capitalize()  
print(capitalized)

Oprah

In [18]:
# Create a dictionary e2f that maps these:
# • dog → chien
# • cat → chat
# • walrus → morse
# Print the dictionary.

In [19]:
e2f = {
    'dog': 'chien',
    'cat': 'chat',
    'walrus': 'morse'
}

print(e2f)

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

In [21]:
# Use e2f to print the French word for “walrus.”

In [22]:
e2f = {
    'dog': 'chien',
    'cat': 'chat',
    'walrus': 'morse'
}

print(e2f['walrus'])

morse

In [23]:
# Create a reverse dictionary f2e from e2f using the .items() method.
# Print f2e.

In [24]:
e2f = {
    'dog': 'chien',
    'cat': 'chat',
    'walrus': 'morse'
}

f2e = {}
for english, french in e2f.items():
    f2e[french] = english

print(f2e)

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

In [25]:
# Use f2e to print the English word for “chien.”

In [26]:
f2e = {
    'chien': 'dog',
    'chat': 'cat',
    'morse': 'walrus'
}

print(f2e['chien'])

dog

In [28]:
# Print the set of all English words (the keys from e2f).

In [29]:
e2f = {
    'dog': 'chien',
    'cat': 'chat',
    'walrus': 'morse'
}

english_words = set(e2f.keys())
print(english_words)

{'cat', 'dog', 'walrus'}

In [30]:
# Create a dictionary life structured like this:
# {

# 'animals': {
# 'cats': ['Henri', 'Grumpy', 'Lucy'],
# 'octopi': {},
# 'emus': {}
# },
# 'plants': {},
# 'other': {}
# }

In [32]:
life = {
    'animals': {
        'cats': ['Henri', 'Grumpy', 'Lucy'],
        'octopi': {},
        'emus': {}
    },
    'plants': {},
    'other': {}
}

In [33]:
life

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}},
 'plants': {},
 'other': {}}

In [34]:
# Print the top-level keys of life.

In [35]:
life = {
    'animals': {
        'cats': ['Henri', 'Grumpy', 'Lucy'],
        'octopi': {},
        'emus': {}
    },
    'plants': {},
    'other': {}
}

print(life.keys())

dict_keys(['animals', 'plants', 'other'])

In [36]:
# Print the keys inside life['animals'].

In [37]:
life = {
    'animals': {
        'cats': ['Henri', 'Grumpy', 'Lucy'],
        'octopi': {},
        'emus': {}
    },
    'plants': {},
    'other': {}
}

print(life['animals'].keys())

dict_keys(['cats', 'octopi', 'emus'])

In [38]:
# Print the list of cat names stored in life['animals']['cats'].

In [39]:
life = {
    'animals': {
        'cats': ['Henri', 'Grumpy', 'Lucy'],
        'octopi': {},
        'emus': {}
    },
    'plants': {},
    'other': {}
}

print(life['animals']['cats'])

['Henri', 'Grumpy', 'Lucy']