In [1]:
# Write a Python program to print your name and favourite colour on two
# separate lines.

In [2]:
print('Vaishnavi Gunjal')
print('Black')

Vaishnavi Gunjal
Black

In [3]:
# Write a Python program that prints the result of adding 7 and 8.

In [4]:
7+8

15

In [5]:
# Use the print function to display the following text exactly as it is:
# Python is fun!
# Let's learn together.

In [7]:
print('Python is fun!')
print(" Let's learn together")

Python is fun!
 Let's learn together

In [8]:
# Write a Python program to calculate and print the result of multiplying 6 by
# 9.

In [9]:
6*9

54

In [10]:
# Write a Python program that prints the result of adding 5 + 5 and
# multiplying 2 * 3 in a single line of code.

In [18]:
print('addition = ' ,5+5  ,' multiplication = ', 2*3 )

addition =  10  multiplication =  6

In [19]:
# Take the name A as input from the user and print "Hello A", where A is
# the name in input.

In [24]:
name = str(input("enter name "))
print("hello" , name)

enter name  a

hello a

In [25]:
# You have x rupees in your savings. You google pay y rupees, print your
# bank balance

In [29]:
saving = 100
g_pay = 40

bank_balance =  saving - g_pay
print(bank_balance)

60

In [30]:
# Print the first five letters of the English alphabet i.e. A, B, C, D and E.
# one below each other

In [35]:
print(' A \n B \n C \n D \n E \n ')

 A
 B
 C
 D
 E

In [36]:
# Take two names A and B as input from the user, and print "A says Hi to
# B" (Without quotations), where A and B are the names in input.

In [ ]:
n = str(input('enter 1 st name  '))
m = str(input('enter 2 nd name  '))
print(n,says Hi to ,m)

In [1]:
# Create a variable age and assign it the value 25 . Then print the value of
# age along with its data type using the type() function.

In [2]:
age = 25 
print(age)
type(age)

25

int

In [3]:
# Assign the number 12.5 to a variable price . Print both the variable and its
# data type. Then assign the value 12 to the same variable and print its data
# type again. What do you observe?

In [6]:
price = 12.5
print("Value of price:", price)
print("type of price:", type(price))

price = 12
print("value of price:", price)
print("type of price:", type(price))

Value of price: 12.5
type of price: <class 'float'>
value of price: 12
type of price: <class 'int'>

In [7]:
# Create a variable is_raining and set it to True . Print the value of the variable
# along with its type. Then set is_raining to False and print the new value and
# type.

In [10]:
is_raining = True
print(is_raining)
type(is_raining)

is_raining = False 
print(is_raining)
type(is_raining)

True
False

bool

In [11]:
# Create a variable my_name and store your full name in it as a string. Then
# print the value of my_name using single quotes ' .

In [16]:
my_name = "Vaishnavi Madhukar Gunjal"
my_name

'Vaishnavi Madhukar Gunjal'

In [17]:
# Write a Python program that asks the user for their name and age using the
# input() function. Store the inputs in variables and print a sentence like
# "Hello, [Name]! You are [Age] years old." Ensure you cast the age to an
# integer.

In [19]:
name = str(input("Enter your name "  ))
age = int(input("Enter your age "   ))
print("Hello,", name,"! You are" ,age," years old.")

Enter your name  Vaishnavi
Enter your age  22

Hello, Vaishnavi ! You are, 22  years old.

In [21]:
# Create two variables x and y and assign them the values 10 and 3.5 ,
# respectively. Print their values and types. Then, create a new variable
# sum_xy and store the sum of x and y . Print the result and its type.

In [30]:
x = 10
y = 3.5
print('value of x :',x,'type :' ,type(x) )
print('value of y :',y,'type :' ,type(y) )


sum_xy = x + y

print('value :' ,sum_xy)
type(sum_xy)

value of x : 10 type : <class 'int'>
value of y : 3.5 type : <class 'float'>
value : 13.5

float

In [31]:
# Using the type() function, check and print the data type of the following:
# 45.0
# "hello"
# None
# False

In [38]:
a = 45.0
b = 'hello'
c = None
d = False
print(a,   type(45.0))
print(b,   type('hello'))
print(c,   type(None))
print(d,   type(False))

45.0 <class 'float'>
hello <class 'str'>
None <class 'NoneType'>
False <class 'bool'>

In [39]:
# Write a Python program to print three strings "apple" , "banana" , and "cherry"
# on the same line, separated by a space. Then modify the program to
# separate the strings using a comma , instead of a space.

In [40]:
print("apple", "banana", "cherry")
print("apple", "banana", "cherry", sep=", ")

apple banana cherry
apple, banana, cherry

In [41]:
# Create a variable big_number and assign it a very large integer value (e.g.,
# 987654321987654321 ). Print the value and its type. What do you notice about
# the size of the number?

In [44]:
big_number = 987654321987654321
print( big_number)
type(big_number)

987654321987654321

int

In [45]:
# Write a Python program that prints the result of multiplying two floats (e.g.,
# 2.5 and 3.7 ). Then check and print the data type of the result.

In [46]:
a = 2.5
b = 3.7
c = a*b
print(c)
type(c)

9.25

float

In [47]:
# Create a variable x with the value 15 . Perform floored division by 4 and
# print the result. What is the difference between floored division and normal
# division?

In [51]:
x = 15
x//4 

# Normal Division always returns a floating-point number
# Floor Division return a round down number

3

In [52]:
# Write a program to calculate 8 ** 2 and 16 ** 0.5 . Print both results and
# describe what each represents.

In [54]:
print(8**2)
print(16**0.5)

64
4.0

In [55]:
# Use arithmetic operators to solve the following expression: 20 - 5 * 3 + 8 /
# 4 . Use parentheses to make sure the addition happens before
# multiplication. Print the output.

In [65]:
a = 20 - 5 * 3 + 8 /4
print(a)
a = 20 - (5 + 3) * 3 + 8 / 4
print(a)

7.0
-2.0

In [66]:
# Assign the value 7 to a variable num . Convert it to a float and print the
# result. What is the difference between 7 and 7.0 ?

In [69]:
n = 7
n1= float(n)
print(n1)
type(n1)

7.0

float

In [70]:
# Use a comparison operator to check if 100 is greater than 50 . Print the
# result and indicate what type of value this is.

In [72]:
a = 100 > 50
print(a)
type(a)

True

bool

In [73]:
# Assign True to a variable is_sunny and False to is_weekend . Use logical
# operators to check if it is sunny and the weekend ( is_sunny and is_weekend ).
# Print the result.

In [74]:
is_sunny = True
is_weekend = False
result = is_sunny and is_weekend
print("Is it sunny and the weekend?", result)

Is it sunny and the weekend? False

In [75]:
# Create a variable password and set it to "my_password123" . Ask the user to input
# a password and print True if the input matches the value of password ,
# otherwise print False .

In [88]:
password = "my_password123"
a = input("Enter password : ")
if a == password :
    print("Password is correct ")
else :
    print("password is incorrerct")

Enter password :  a

password is incorrerct

In [81]:
# Assign the value 50 to a variable marks . Increment the value of marks by 5
# using the += operator, then print the new value.

In [89]:
marks = 50 
marks += 5
marks

55

<!-- Write a program to check if the value of a = 0 and b = 10 satisfies a or b .
Print the output and explain why it gives that result. -->

In [90]:
# Write a program to check if the value of a = 0 and b = 10 satisfies a or b .
# Print the output and explain why it gives that result.

In [92]:
a = 0 
b = 10 
c = a or b
print(c)

# a is 0 and in python 0 is falsy and other no is truthy ,so b is 10 then it will return 10

10

In [97]:
# Use not to negate the value of False and print the result. Explain what the
# not operator does in Python.

In [98]:
a = not False
print(a)

True

In [99]:
# Write a Python program that checks if a number entered by the user is even
# or odd. Print "Even" if the number is even and "Odd" if it is odd.

In [101]:
enter_no = int(input("enter the no : "))

if enter_no % 2 == 0:
  print("no is even :")
else :
  print("no is odd : ")

enter the no   11

no is odd :

In [102]:
# Create a program that prompts the user for their age and prints whether
# they are a child (0-12), teenager (13-19), or adult (20 and above).

In [103]:
age = int(input("Enter your age: "))
if 0 <= age <= 12:
    print("You are a child.")
elif 13 <= age <= 19:
    print("You are a teenager.")
elif age >= 20:
    print("You are an adult.")
else:
    print("Invalid age entered.")

Enter your age:  22

You are an adult.

In [104]:
# Write a program that takes two numbers as input from the user and prints
# which number is larger. If both numbers are equal, print "Both numbers are
# equal."

In [105]:
a = int(input("Enter 1 st No : "))
b = int(input("Enter 2 nd No : "))
if a > b :
    print(a , " is  greater than", b)
elif a < b :
    print(a , " is smaller than " , b)
elif a == b:
    print("Both numbers are equal")

Enter 1 st No :  10
Enter 2 nd No :  10

Both numbers are equal

In [106]:
# Create a program that checks if a user-entered password matches the
# string "securePassword". Print "Access Granted" if it matches, otherwise
# print "Access Denied."

In [108]:
correct_password = "securepassword"
user_password = input("Enter your password: ")
if user_password == correct_password:
    print("Access Granted")
else:
    print("Access Denied")

Enter your password:  s

Access Denied

In [ ]:
# Write a program that takes a score from the user (0-100) and prints the
# corresponding grade:
# A for 90-100
# B for 80-89
# C for 70-79
# D for 60-69
# F for below 60

In [110]:
n = int(input("enter the marks : "))

if 90 <= n <= 100:
  print("A")
elif 80 <= n <=89:
  print("B")
elif 70 <= n <=79:
  print("C")
elif 60<= n <=69:
  print("D")
else :
  print("F")

enter the marks :  50

F

In [111]:
# Create a program that asks the user for a number and checks if it is
# positive, negative, or zero. Print the corresponding message.

In [115]:
n = int(input("enter the no : "))

if n>0 :
  print("positive")
elif  n<0:
  print("negative")
else :
  print("zero")

enter the no :  0

zero

In [116]:
# Write a program that takes three numbers from the user and determines the
# largest of the three. Print the largest number.

In [125]:
num1 = input("Enter first number: ")
num2 = input("Enter second number: ")
num3 = input("Enter third number: ")
largest = max(num1, num2, num3)
print( largest)

Enter first number:  2
Enter second number:  4
Enter third number:  1

4

In [126]:
# Create a program that checks if a user-entered character is a vowel (a, e, i,
# o, u) or a consonant. Print the corresponding message.

In [129]:
char = input("Enter a character: ").lower()

# Check if it's a vowel or consonant
if char in "aeiou":
    print("It is a vowel.")
else:
    print("It is a consonant.")

Enter a character:  e

It is a vowel.

In [130]:
# Write a program that checks if a given year is a leap year. A year is a leap
# year if it is divisible by 4, except for years that are divisible by 100 but not
# divisible by 400.

In [134]:
n=int(input())
if n % 100==0:
    print("year is leap")
elif n % 4 == 0 :
    print(" year is Leap")
else :
    print("year is not leap year")

 2000

year is leap

In [135]:
# Create a program that prompts the user for a temperature in Celsius and
# converts it to Fahrenheit. If the converted temperature is greater than 100°F,
# print "It's boiling!" Otherwise, print "It's not boiling yet."

In [136]:
celsius = float(input("Enter temperature in Celsius: "))
fahrenheit = (celsius * 9/5) + 32
print("Temperature in Fahrenheit:", fahrenheit)
if fahrenheit > 100:
    print("It's boiling!")
else:
    print("It's not boiling yet.")

Enter temperature in Celsius:  100

Temperature in Fahrenheit: 212.0
It's boiling!

In [137]:
# Write a program that takes a temperature in Celsius and prints whether it is "Freezing",
# "Cold", "Warm", or "Hot" based on predefined ranges.

In [138]:
celsius = float(input("Enter temperature in Celsius: "))
if celsius <= 0:
    print("Freezing")
elif 1 <= celsius <= 15:
    print("Cold")
elif 16 <= celsius <= 30:
    print("Warm")
else:
    print("Hot")

Enter temperature in Celsius:  31

Hot

In [139]:
# Create a program that checks if a number is divisible by 3 and/or 5 and prints appropriate
# messages.

In [142]:
num = int(input("Enter a number: "))
if num % 3 == 0 and num % 5 == 0:
    print("Divisible by both 3 and 5")
elif num % 3 == 0:
    print("Divisible by 3")
elif num % 5 == 0:
    print("Divisible by 5")
else:
    print("Not divisible by 3 or 5")

Enter a number:  10

Divisible by 5

In [ ]:
num1 = float(input("Enter first number: "))
operator = input("Enter operator (+, -, *, /): ")
num2 = float(input("Enter second number: "))
if operator == "+":
    result = num1 + num2
    print("Result:", result)
elif operator == "-":
    result = num1 - num2
    print("Result:", result)
elif operator == "*":
    result = num1 * num2
    print("Result:", result)
elif operator == "/":
    if num2 == 0:
        print("Error: Division by zero is not allowed.")
    else:
        result = num1 / num2
        print("Result:", result)
else:
    print("Invalid operator! Please use +, -, *, or /.")